@font-face {
    font-family: montserrat;
    src: url(fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: lobster;
    src: url(fonts/Lobster/Lobster-Regular.ttf);
}
@font-face {
    font-family: open-sans;
    src: url(fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}
body{
    margin: 0;
}


/* NAVIGATION */
.nav{
    /* border: 1px solid; */
    min-width: 1em;         
    height: 74px;
    text-align: center;
}
.nav i{
    font-size: 1.6rem;
    width: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}


/* FIRST PIC */
.home-pane{
    /* border: 1px solid; */
    position: relative;
    width: 100%;   
    height: 740px;     
    background-image: url(images/front-view-kid-wearing-party-hat.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    min-height: 785px;
}
.home-pane .first-content{
    /* border: 1px solid; */
    width: calc(((100% - 1140px) / 2) + 570px);
    min-height: 360px;
    margin: 327px auto 60px 0;
    background-color: white;
    border-bottom-right-radius: 50px !important;
    border-top-right-radius: 50px !important;
    padding: 30px 21px;
    position: absolute;
    
}
.first-content h1{
    /* border: 1px solid; */
    font-size: 6rem;
    font-weight: 400;
    padding: 0;
    margin: 44px 0 0 99px;
    line-height: 1.1;
    font-family: lobster;
    color: #f1c50e !important;
}
.first-content h3{
    /* border: 1px solid; */
    padding: 0;
    font-size: 3.75rem;
    line-height: 1;
    font-weight: 500;
    margin: 0 92px 0 99px;
    font-family: montserrat;
    
}
.first-content p{
    /* border: 1px solid; */
    margin: 0;
    padding: 0;
    font-family: open-sans;
    margin: 32px 92px 0 99px;
}
.first-content a{
    color: #f1c50e !important;
}

/* WHAT WE DO */
.what-we-do{   
    /* border: 1px solid red;  */    
    background-image: url(images/bg-img-2.jpg);
    position: relative;
    width: 100%;
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0%;
}
.what-we-do h2{
    font-family: lobster;
    text-align: center;
    font-weight: 400;
    font-size: 3rem;
    margin: 70px auto 0;

}

/* FLEX CONTAINER */
.to-do-container{
    /* border: 1px solid; */
    width: fit-content;
    display: flex;
    text-align: left;
    align-content: space-around;
    gap: 50px;
    position: relative;
    top: 115px;
    left: 220px;
    line-height: 2;
}
.to-do-container  h5{
    /* border: 1px solid; */
    font-family: montserrat;
    margin: 30px auto 0;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.2;
}
.to-do-container  p{
    /* border:1px solid; */
    width: 235px;
    font-family: open-sans;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.6;
    word-wrap: break-word;
    text-align: center;

}
.to-do-flex-1,.to-do-flex-2, .to-do-flex-3 ,.to-do-flex-4{
    text-align: center;

}


/* OUR TEAM STYLING */
.our-team{
    position: relative;
    background-color: #FEF9E6;
    width: 100%;
    height: 1287px;
}
.our-team h2{
    text-align: center;
    padding-top: 63px;
    font-family: lobster;
    font-size: 3rem;
    font-weight: 400;
}
/* FLEX PARENT */
.our-team-flex{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;

}
.our-team-flex img{
    border-radius: 50%;
    object-position: 50% 13.69%;
    object-fit: cover;
    margin-left: 50px;
    margin-top: 30px;
}
/* FLEN CHILDS */
.team-flex-1,.team-flex-2,.team-flex-3,.team-flex-4,.team-flex-5,.team-flex-6{
    position: relative;
    width:360px;
    height: 505px;
    background-color:white;
   
}
.our-team-flex h5{
    color:#F1C517;
    font-family: montserrat;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;

}
.our-team-flex p{
    margin-top: 0;
    font-family: montserrat;
    font-style: italic;
    text-align: center;
}
.our-team-flex i{
    font-size: 3.5rem;
    position: relative;
    left: 43%;
}
.team-flex-6 p{
    width: 280px;
    height: 230px;
    font-family: open-sans !important;
    font-style: normal !important;
    text-align: left;
    position: relative;
    top: 25%;
    left: 8%;
    line-height: 1.6;
}
.team-flex-6 img{
    position: relative;
    top: 20%;
    left: 25%;
}


/* GALLERY STYLING */
.gallery{
    width: 100%;
    height: 1100px;
}
.gallery h2{
    text-align: center;
    padding-top: 63px;
    font-family: lobster;
    font-size: 3rem;
    font-weight: 400;
}
.gallery-flex{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding-left: 16%;
}
.gallery-flex img{
    object-fit: cover;
    width: 322px;
    height: 322px;
    transition: 1s ease;
}
.gallery-flex img:hover{
    /* -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2); */
    transform: scale(1.1);
    transition: 500ms ease;
}
.gallery-pic-1,.gallery-pic-2,.gallery-pic-3,.gallery-pic-4,.gallery-pic-5,.gallery-pic-6{
    width: fit-content;
    height: fit-content;
    overflow: hidden;
}
.gallery p{
    font-family: open-sans !important;
    text-align: center;
    margin-top: 3%;
}
.gallery input{
    background-color: #f1c50e;
    margin: 36px auto 60px;
    padding: 16px 46px 17px;
    letter-spacing: 3px;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 30px;
    border-style: none;  
    position: relative;
    left: 43%;  
    animation-name: learnbtn;
    animation-duration: 1500ms;
}
.gallery input:hover{
    color: white;
    background-color: black;

}
@keyframes learnbtn {
    0%{
        left: 20%;
        opacity: 0;
    }
    /* 50%{
        left:23%;
        opacity: 0.5;
    } */
    100%{
        left: 43%;
        opacity: 1.0;
    }
}

/* CONSULTATION BOOKING */
.consult-book{
    height: 400px;
    width: 100%;
    background-color: #F1C50E;
    text-align: center;
    line-height: 1.1;
}
.consult-book h2{
    /* border: 1px solid; */
    font-family: lobster;
    font-size: 3rem;
    font-weight: 400;
    position: relative;
    top: 120px;
}
.consult-book p{
    position: relative;
    top: 110px ;
}
.consult-book input{
    background-color: white;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 30px;
    border-style: none;
    position: relative;
    top: 130px;
    width: 210px;
    height: 62px;
}
.consult-book input:hover{
    background-color: whitesmoke;
}

/* SKILLS STYLING */
.skills{
    height: 684px;
    width: fit-content;
    /* border: 1px solid red; */
    background-image: url(images/bg-img-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 50px;
    padding-left: 20%;
}
.skills-flex-1,.skills-flex-2,.skills-flex-3,.skills-flex-4{
    height: 258px;
    width: 425px;
    /* border: 1px solid; */
    
    
}
.skills img{
    margin-left: 38%;
}
.skills h5{
    font-family: montserrat;
    font-size: 1.25rem;
    line-height: 1.2;
    text-align: center;
}
.skills p{
    font-family: open-sans;
    line-height: 1.6;
}

/* WHAT PARENTS SAY STYLING */
.parents-comment{
    position: relative;
    background-color: #FEF9E6;
    width: 100%;
    height: 1050px;
}
.parents-comment h2{
    text-align: center;
    padding-top: 63px;
    font-family: lobster;
    font-size: 3rem;
    font-weight: 400;
}
.parents{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.parent-1,.parent-2,.parent-3,.parent-4,.parent-5,.parent-6{
    width: 360px;
    height: 390px;
    background-color: white;
    /* border: 1px solid; */
}
.parents img{
    object-fit: cover;
    border-radius: 50%;
    object-position: 50% ;
    border-style: none;
    position: relative;
    left: 35%;
    top: 30px;
}
.parents p{
    /* border: 1px solid; */
    font-family: open-sans;
    word-wrap: break-word;
    color: #999999 !important;
    text-align: justify;
    margin: 10px 20px 20px 30px;
    font-weight: 400;
    line-height: 1.5;
    word-spacing: 0.1em;
}
.parents #date{
    text-align: center;
    margin-top: 20px !important;
}
.parents h5{
    /* border:  1px solid; */
    font-size: 1.25rem;
    line-height: 1.2;
    font-family: montserrat;
    text-align: center;
    margin-top:50px;
}

/* COUNTER STYLING */
.counter{
    width: 100%;
    height: 648px;
    background-color: #F1C50E;
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    justify-content: center;
    text-align: center;    
    padding-top: 4%;

}
.counter h3{
    font-family: montserrat;
    width: 365px;
    height: 72px;
    font-size: 3.75rem;
    font-weight: 700;
    color: white;
    margin: 0;
}
.counter h5{
    font-family: montserrat;
    font-weight: 500;
    font-size: 1.25rem;
    margin-bottom: 10px;
    /* border: 1px solid; */
}
.counter p{
    /* border: 1px solid; */
    font-size: 1rem;
    font-family: open-sans;
}
.counter img{
    margin-top: 30px;
}
.counter-{
 /* border: 1px solid; */
 margin-top:5px ;
}

/* FORM STYLING */
.form{
    width: 100%;
    background-image: url(images/form-bg.jpeg);
    background-position: 0% 44.93%;
    background-repeat: no-repeat;
    background-size: 125%;
    min-height: 786px;
    /* border: 1px solid; */
}
.form-details{
    width: 694px;
    height: 390px;
    background-color: white;
    border-bottom-right-radius: 50px !important;
    border-top-right-radius: 50px !important;
    position: relative;
    top: 327px;
    left: 70px;
    /* border: 1px solid; */

}
.form-details h5{
    margin: 0;
    position: relative;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.2;
    font-family: montserrat;
    padding: 50px 40px 0px 120px;
    text-align: left;
    /* border: 1px solid; */
}
/* division */
.inputs{
    padding-left: 120px;
    padding-top: 20px;
    right: 10px;
    line-height: 1.6;

}
#input-types{
    background-color: #f2f2f2;
    border-style: none;
    border-radius: 50px !important;
    padding-left: 12px;
    font-size: medium;
    height: 40px;
    width: 510px;
}
input[type="email"]{
    margin-top: 10px;
    margin-bottom: 10px;
}
input[type="button"]{
    background-color: #F1C517;
    margin-top: 10px;
    padding: 12px 25px;
    font-weight: 400;
    font-size: 1rem;
    border-radius: 30px;
    border-style: none;
}
#mail{
    /* border: 1px solid; */
    position: relative;
    top: 10px;
}
label{
    font-family: montserrat;
}
.inputs p{
    font-family: open-sans;
}
/* FOOTER */
footer{
    width: 100%;
    height: 216px;
    background-color: #333333;
    color: white;
}
footer p{
    margin: 0;
    font-family: open-sans;
    text-align: center;
    font-weight: 400;
    font-size: 0.875rem;
    padding-top: 50px;
}
#credits{
    margin-top: 40px;
    padding-bottom: 10px;
}
